@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #272629;
}

::-webkit-scrollbar-thumb {
  background-color: #5d6061;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
} */
